In [8]:
#libraries
import pandas as pd

#read data

term_records = pd.DataFrame.from_csv('data/DS0001/36404-0001-Data.tsv', sep='\t', header=0)
prison_admissions = pd.DataFrame.from_csv('data/DS0002/36404-0002-Data.tsv', sep='\t', header=0)
prison_releases = pd.DataFrame.from_csv('data/DS0003/36404-0003-Data.tsv', sep='\t', header=0)
year_end_population = pd.DataFrame.from_csv('data/DS0004/36404-0004-Data.tsv', sep='\t', header=0)

/Users/lubovmckone/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2802: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/lubovmckone/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2802: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [16]:
term_records.head(20)

,SEX,ADMTYPE,OFFGENERAL,EDUCATION,ADMITYR,RELEASEYR,MAND_PRISREL_YEAR,PROJ_PRISREL_YEAR,PARELIG_YEAR,SENTLGTH,OFFDETAIL,RACE,AGEADMIT,AGERELEASE,TIMESRVD,RELTYPE,STATE
ABT_INMATE_ID,,,,,,,,,,,,,,,,,
A012015000000091071,1,1,2,9,2006,2010,,,,4,10,9,3,3,2,3,1
A022015000000096906,1,3,3,9,2008,2008,,,,0,12,1,3,3,0,,2
A042015000000118649,1,1,1,9,2013,2014,2014,2014,,0,6,1,1,1,0,1,4
A062015000000167469,1,2,2,9,1996,1996,,,,2,7,1,2,2,0,1,6
A132015000000550479,1,1,1,9,1968,1972,1978,,,3,4,1,1,1,2,1,13
A172015000000995085,1,1,1,9,2006,2009,,2010,,3,4,2,2,2,2,1,17
A182015000000019353,2,3,3,9,2008,2009,2010,2009,2009,2,12,1,2,2,0,1,18
A202015000000031529,1,1,3,9,2013,2014,,2015,,1,12,1,3,3,1,2,20
A212015000000115891,1,2,4,9,2014,2014,2016,2015,,2,13,9,1,1,0,,21
A232015000000003075,1,1,1,9,2012,2014,,,,2,6,1,4,4,1,,23
A242015000000177833,1,1,1,9,1999,9999,2031,,2018,5,1,9,1,,9,,24
A262015000000320390,2,1,3,9,1988,1997,,,,5,12,9,2,3,3,1,26
A272015000000050042,1,2,4,9,1999,1999,,,,1,13,2,3,3,0,1,27
A282015000000019112,1,2,1,9,2011,2012,,2012,,4,5,2,2,2,0,1,28
A302015000000002898,1,1,1,9,2007,9999,,,2038,6,1,3,1,,9,,30
A312015000000040102,1,1,3,9,2003,2003,,,,2,12,1,3,3,0,1,31
A332015000000007173,1,2,4,9,2013,2014,,2009,2009,3,13,1,3,3,0,1,33
A342015000000095444,2,1,1,9,2011,2012,,,,2,6,2,2,2,0,1,34
A352015000000007367,1,2,2,9,2014,9999,,,,2,9,3,1,,9,,35
A362015000000174083,1,1,4,9,2012,2014,2014,2014,,2,13,2,1,1,2,1,36

In [15]:
prison_admissions.groupby(['OFFDETAIL', 'RACE', 'AGEADMIT'])['AGEADMIT'].count()

OFFDETAIL  RACE  AGEADMIT
1          1     1           12377
                 2           15771
                 3           13519
                 4            9002
                 5            4704
           2     1           34930
                 2           30095
                 3           16542
                 4            8225
                 5            3134
           3     1           19253
                 2           14788
                 3            6588
                 4            2791
                 5            1183
           4     1            2223
                 2            1949
                 3            1148
                 4             664
                 5             306
           9     1           22844
                 2           14342
                 3            9094
                 4            4740
                 5            2048
2          1     1            7503
                 2           10221
                 3            7419
                 4            4064
                 5            1613
                             ...
14         9     1            3695
                 2            5148
                 3            3314
                 4            1148
                 5             333
99         1     1           22294
                 2           30919
                 3           25165
                 4           11017
                 5            2979
           2     1           25229
                 2           30628
                 3           25975
                 4           11301
                 5            2363
           3     1            6108
                 2            6381
                 3            3617
                 4            1357
                 5             395
           4     1            1638
                 2            1910
                 3            1239
                 4             443
                 5             137
           9     1           26998
                 2           23687
                 3           17881
                 4            6777
                 5            1859
Name: AGEADMIT, Length: 375, dtype: int64